<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>HildaPharmacyHelper</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="/style2.css">

  <body>
    <div class="row ">
      <div class="col-5 heading" >
        <h2> HildaPharmacyHelper </h2>
      </div>
      <div class="col-3 heading">
        <div class="div-head">
          <a href="/HildaPharmacyHelper"> <b> Home page </b> </a>
        </div>
      </div>
      <div class="col-4 heading" >
        <div class="div-head">
          <a href="/listOfPharmacy"> <b>List of pharmacy</b>  </a>
        </div>
      </div>

    </div>
    <div class="container">
