<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>HildaPharmacyHelper</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">

  <body>
    <div class="row ">
      <div class="col-3 heading" >
        <h2> HildaPharmacyHelper </h2>
      </div>
      <div class="col-3 heading">
        <div class="div-head">
          <a href="/HildaPharmacyHelper" style="color:white;font-family: sans-serif;"> <b> Home page </b> </a>
        </div>
      </div>

      <div class="col-3 heading">
        <div class="dropdown">
          <button class="dropbtn"> <b> Log as Admin </b> </button>
          <div class="dropdown-content">
            <a href="/addNewPharmacy"> Add a Pharmacy </a>
            <a href="/removePharmacy"> Remove a pharmacy </a>
            <a href="/updateOnCall"> Update Pharmacy OnCall 3</a>
          </div>
        </div>
      </div>
      <div class="col-3 heading" >
        <div class="dropdown">
          <button class="dropbtn"> <b> Log as pharmacist </b> </button>
          <div class="dropdown-content">
            <a href="/addDrug"> Add Drug </a>
            <a href="/removeDrug"> Remove Drug </a>
            <a href="/updateInformation"> Update Informations</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
