<%- include('header'); -%>
    <div class="row row1"style="background-color:blue">

      <div class="col-4">
      <a href="/ofOnCall"> <img src="/images/pharmacyOnCall.jpg" class="img1"> </a>
      </div>

      <div class="col-4" >
        <a href="/listOfPharmacy"> <img src="/images/pharmacyLogo.jpg" class="img1"> </a>
      </div>

      <div class="col-4" >
         <img src="/images/drugImage.jpg" class="img2" onclick="document.getElementById('input-drug').click();">
           <form  action="/searchDrug" method="post">
             <input type="text" name="drugName" placeholder="Enter drug's name here" class="input-drug1" required>
             <input type="submit"  id="input-drug" style="display: none;">
           </form>
      </div>

    </div>

<%- include('footer'); -%>
