<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PHARMACY ON CALL</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <header>
    PHARMACY ON CALL
  </header>
  <body>
    <form class="" action="AmazingPharmacy" method="post">
      <button class='hello'type="submit" name="button">AMAZING PHARMACY, Molyko-Buea, +237652813268</button>
      </form>

      <form class="" action="MountZionPharmacy" method="post">
        <button class='hello'type="submit" name="button">Mount Zion Pharmacy, Malingo-Buea, +237652813268</button>
        </form>

  </body>
</html>
