<%- include('header'); -%>

<form class="form1" action="/searchDrug" method="post">
  <label class="label-input" >Enter Drug's Name </label>
  <input class="form-input" type="text" name="nameOfDrug" placeholder="Drug's name">
</form>

<h6 style="color: red" > <em> <%= message5 %> </em> </h6>

<%- include('footer'); -%>
